
@import "tailwindcss";
@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.bg-animated {
  background: linear-gradient(-45deg, #dbeafe, #e0e7ff, #f0f9ff, #e0f2fe);
  background-size: 400% 400%;
  animation: gradientMove 15s ease infinite;
}
